.head {
  padding-top: 150px;
  width: 100%;
}

.mega-header {
  font-size: 60px;
  text-align: center;
}

.head p {
  width: 30%;
  text-align: justify;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home button {
  margin-left: auto;
  margin-right: auto;
}
