@import './libs/bootstrap.css';
@import './libs/bootstrap-theme.css';
@import 'home.css';
@import 'landing.css';
@import 'nav.css';
@import 'normalize.css';
@import 'tasks.css';

* {
  font-family: 'Raleway'
}

body {
  background-color: #F8F8F8;
  height: 100%;
}

h1 {
  color: tomato;
  margin: 0;
  text-transform: uppercase;
}

button {
  display: block;
  height: 50px;
  width: 150px;
  color: #F8F8F8;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #6699CC;
  border: 2px solid #F8F8F8 ;
  border-radius: 5px;
}

button:hover {
  background-color: #669999;
}
