<section data-nav-head data-redirect="redirect(destination)"></section>
<section id="home" data-ng-controller="MainController" data-ng-init="homeAnimations()">
  <section class="head">
    <h1 class="mega-header">Home</h1>
    <p>
      Flannel four dollar toast mustache tousled, listicle heirloom Godard twee kitsch tofu blog selfies. Hashtag pug 3 wolf moon, Godard kale chips twee Shoreditch before they sold out roof party health goth chambray leggings viral hella. Sartorial Blue Bottle tilde bespoke McSweeney's fixie. Sartorial chia tousled, gluten-free raw denim occupy XOXO narwhal Truffaut. Drinking vinegar squid street art retro, health goth migas viral. Cred jean shorts High Life normcore wolf Portland. Actually mlkshk leggings mixtape beard, kale chips sartorial cronut 8-bit paleo Carles scenester cray readymade 90's.
    </p>
    <button data-ng-click="redirect('create-user')">Sign Up</button>
  </section>
</section>
